#root {
  background-image: linear-gradient(#DDCDEA, #CCB8F5);
}

.container {
  height: 100vh;
}

.row {
  display: grid;
}

.top-row {
  padding: 3% 0;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  overflow-y: overlay;
  min-width: 90%;
  border-radius: 0.3rem;
}

.bottom-row {
  height: 20%;
}

.cell {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 10% auto; 
}

.top-row::-webkit-scrollbar {
  width: 10px;
}

.top-row::-webkit-scrollbar-track {
  background: #DED1EF;
  border-radius: 5px;
  height: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-row::-webkit-scrollbar-thumb {
  background: #9277B7;
  border-radius: 5px;
}

.top-row::-webkit-scrollbar-thumb:hover {
  background: #B8A4D3; 
}

.pokemon {
  margin: auto;
  max-width: 67%;
  height: auto; 
  opacity: 100%;
}

.pokeball {
  margin: 10px auto 0px auto; 
  height: inherit;
  width: auto;
}

.popup {
	visibility: hidden;
	height: 0px;
	opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

.popup-text:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 20px #66CBBE;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}

.popup-text {
	position: relative;
	background-color: dimgray;
	bottom: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

.green-bar {
  background-color: #66CBBE;
  margin-top: 0.5rem;
  height: 0.25rem;
}

.cell:hover .popup {
	visibility: visible;
	opacity: 0.9;
}