.bar {
  background-color: #9e80d7;
  width: 100%;
  border-radius: 1rem;
}

.header {
  background-image: linear-gradient(#faf9f6, #eddffb);
}

.header.row {
  background-image: linear-gradient(#eddffb, #eddffb);
}

.header-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.h2 {
  font-weight: bold;
  color: dimgray;
}

.name {
  text-transform: capitalize;
}

.number {
  margin-right: 10%;
}

.progress {
  height: 5px;
}
