#root {
  background-image: linear-gradient(#ddcdea, #ccb8f5);
}

.container {
  height: calc(100vh - 10px - 50px - 50px);
  margin-top: 10px;
}

.grid-container {
  height: 85vh;
}

.empty-header {
  height: 50px;
  background-image: linear-gradient(#faf9f6, #eddffb);
}
