.pokeball {
  margin: auto 10px;
  width: auto;
  height: auto;
  filter: drop-shadow(5px 5px 5px #222222);
}

.bottom-row {
  height: 100%;
}

.pokecard {
  max-width: 12rem;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
  height: 100px;
  margin: 0 auto;
}

.pokecard-header {
  background-color: #9e80d7;
  color: white;
  font-size: 19.2px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: larger;
  border-radius: 0.5rem 0.5rem 0 0 !important;
}

.pokecard-title {
  margin: 0;
  line-height: 56px;
  text-transform: capitalize;
}
