.container-pokemon-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(
    to bottom right,
    #0086db,
    #04b0eb,
    #0086db,
    #06f4f6
  );
  height: 100vh;
}

.title-info {
  font-family: Pokemon;
  color: white;
  letter-spacing: 1.5px;
}
.title-info::first-letter {
  text-transform: uppercase;
}
.pokemon-info {
  background-color: rgba(233, 115, 233, 0.19);
  display: flex;
  flex-direction: wrap;
  align-items: center;
  margin: auto;
  border: 0.1px solid rgb(94, 101, 227);
  width: 70%;
  height: 70%;
  border-radius: 10px;
  color:rgb(5, 25, 108)
}

.item-img-pokemon-info {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-img-pokemon-info > img {
  max-width: 100%;

}
.item-pokemon-info {
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}
.item-pokemon-info > p::first-letter {
  text-transform: uppercase;
}
